:root {
  --accent-color: #2196f3;
  --text-color: #212121;
  --title-color: #fff;
  --description-color: #757575;
  --info-color: rgba(255, 255, 255, 0.6);
  --links-color: #212121;
  --article-text: #ffffff;
  --footer-text: #ffffff;
  --background-text: #eeeeee;
}

body {
  font-family: "Roboto", sans-serif;
}

header {
  padding-top: 24px;
  padding-bottom: 25px;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
  border: transparent solid;
}

.d-block {
  width: 100%;
  opacity: 0.7;
}

.carousel-item {
  height: 32rem;
  background: #777;
  color: white;
  position: relative;
  background-position: center;
  background-size: cover;
}

.warning {
  padding: 200px 0 200px 0;
}

.warning-img-div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.warning-img {
  width: 153px;
  display: flex;

}

.warning-text {
  display: flex;
  text-align: center;
  justify-content: center;
  font-size: 50px;
}

.main-pages {
  border: solid 1px #ececec;
}

.main-pages-container {
  display: flex;
  align-items: center;
}

.main-pages {
  color: var(--title-color);
} 

.main-pages-list {
  display: flex;
  gap: 50px;
}

.main-pages-logo {
  color: #04cc04;
  font-family: Raleway;
  font-size: 26px;
  font-weight: 700;
  line-height: 1.38;
  letter-spacing: 0.78px;
}

.secondpart-logo-header {
  color: var(--links-color);
  margin-right: 93px;
}

.secondpart-logo-footer {
  color: var(--title-color);
}

.footer-pages-logo {
  color: #04cc04;
  font-family: Raleway;
  font-size: 34px;
  font-weight: 1.38;
  line-height: normal;
  letter-spacing: 0.78px;
}

.main-pages-link {
  color: var(--links-color);
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.28px;
}

.main-pages-link:hover {
  color: #04cc04;
}

.contacts-list {
  display: flex;
  gap: 50px;
  margin-left: auto;
}

.contacts-malito {
  color: var(--description-color);
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.28px;
}

.contacts-tel {
  color: var(--description-color);
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.28px;
}

.contacts-malito:hover {
  color: #04cc04;
}

.contacts-tel:hover {
  color: #04cc04;
}

.effective-choices-section {
  background-color: #2f303a;
  padding-bottom: 200px;
  padding-top: 200px;
}

.effective-choices-title {
  margin-bottom: 30px;
  color: var(--title-color);
  text-align: center;

  margin-left: auto;
  margin-right: auto;
  font-size: 44px;
  font-weight: 900;
  line-height: 60px;
  /* 136.364% */
  letter-spacing: 2.64px;
  text-transform: uppercase;
  width: 696px;
}

.effective-choices-button {
  border: none;
  border-radius: 4px;
  color: var(--title-color);
  background-color: #04cc04;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 216px;
  height: 50px;
  font-size: 16px;
  font-weight: 700;
  line-height: 30px;
  /* 187.5% */
  letter-spacing: 0.96px;
}

.team-section {
  background: #f5f4fa;
  padding-bottom: 94px;
  padding-top: 94px;
}

.team-list {
  align-items: center;
  gap: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.team-item {
  border-radius: 10px;
  border: solid black;
  background: #fff;
}

.team-item:hover {
  background-color: #dadada;
  transition: ease-in 0.5s;
}

.team-img {
  width: 270px;
  height: 260px;
  flex-shrink: 0;
  margin-bottom: 30px;
  margin: 5px;
}

.team-title {
  color: var(--text-color);
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.16;
  letter-spacing: 1.08px;
  margin-bottom: 50px;
}

.team-subtitle {
  color: var(--text-color);
  text-align: center;
  font-size: 26px;
  font-weight: 500;
  line-height: 1.18;
  letter-spacing: 0.48px;
}

.team-description {
  color: var(--description-color);
  text-align: center;
  font-size: 26px;
  color: white;
}

.footer-pages-contacts-address {
  color: var(--article-text);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  /* 171.429% */
  letter-spacing: 0.42px;
  margin-top: 20px;
}

.footer-pages-contacts-a {
  color: rgba(255, 255, 255, 0.6);
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  /* 171.429% */
  letter-spacing: 0.42px;
}

.footer-pages-contacts-item {
  margin-top: 9px;
}

.footer-pages {
  background: #2f303a;
  padding-bottom: 40px;
  padding-top: 40px;
}

.portfolio {
  padding-bottom: 94px;
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.portfolio-item {
  border: 1px solid #eee;
  background: #fff;
  display: inline;
}

.portfolio-img {
  margin-bottom: 20px;
}

.portfolio-subtitle {
  color: var(--text-color);
  font-size: 18px;
  font-weight: 700;
  line-height: 36px;
  /* 200% */
  letter-spacing: 1.08px;
  margin-left: 24px;
}

.portfolio-description {
  color: var(--description-color);
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
  /* 187.5% */
  letter-spacing: 0.48px;
  margin-bottom: 20px;
  margin-left: 24px;
}

.products {
  padding-top: 94px;
  padding-bottom: 94px;
}

.products-title {
  margin-bottom: 30px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  font-size: 44px;
  font-weight: 900;
  line-height: 60px;
  /* 136.364% */
  letter-spacing: 2.64px;
  text-transform: uppercase;
  width: 696px;
}

.products-list {
  align-items: center;
  gap: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.products-item {
  border: solid 2px #ececec;
  border-radius: 10px;
  width: 256px;
  height: 380px;
}

.products-item:hover {
  border: solid 2px #0c061a;
  transition: all 0.5s ease-in 0s;
}

.products-img {
  width: 250px;
  height: auto;
  margin-top: 5px;
  height: 200px;
}

.products-info {
  display: flex;
  flex-direction: column;
  margin: 0 5px 0 0;
}

.products-name {
  color: #212121;
  font-size: 16px;
  margin-left: 8px;
  text-transform: uppercase;
}

.products-price {
  margin-top: 20px;
  margin-left: 8px;
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 36px;
  line-height: 29px;
  color: #009900;
}

.products-info{
  padding: 94px 0 94px 0;
}

.product-card{
  display: flex;
  background-color: #f5f4fa;
  border-radius: 10px;
  border: #0c061a 2px solid;
}

.product-img{
  width: 400px;
  margin: 10px;
  border-radius: 10px;
  border: #0c061a 2px solid;
}

.product-img:hover{
  box-shadow: 0px -5px 10px 0px rgba(0, 0, 0, 0.5)
}

.product-name{
font-size: 34px;
margin: 20px 20px 0 20px;
text-transform: uppercase;
}

.product-characteristic {
  font-size: 16px;
margin: 9px 20px 9px 20px;
text-transform: uppercase;
color: #757575;
}

.product-price{
  font-size: 52px;
  font-weight: 700;
  margin: 9px 20px 9px 20px;
  color: #04cc04;
  border: #04cc04 2px solid;
  border-radius: 10px;
  width: 217px;
}


.interesting-card{
background-color: #ececec;
margin: 10px;
border: #0c061a 2px solid;
border-radius: 10px;
text-align: center;
margin-left: 160px;
}

.interesting-subtitle {
  background-color: #ffffff;
  color: #0c061a;
  margin: 20px 60px;
  padding: 6px 22px 6px 22px;
  border-radius: 10px;
}

.interesting-subtitle:hover {
  transition: ease-out 0.5s;
  color: white;
  background-color: #04cc04;
  border: none;
}

.interesting-img{
  width: 220px;
  border: solid 2px #0c061a;
  border-radius: 10px;
  margin-top: 20px;
}

@media screen and (max-width: 800px) {
  body  {
    width: 300%;
  }
}